body {
  font-family: 'Maven Pro', sans-serif;
  padding-top: 54px;
  color: #696B6D;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 500;
  color: #EC8732;
}

h1 {
  font-size: 5rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;

}

.web{
  margin-top: 20px;
}

.widthmeng{
  width: 200%;
  text-align: center;
}

.mySlides{
  width: 80%;
  height: 80%;
}

.postcard{
  width: 70%;
}

.home h1{
  margin-left: 20px;
}

.home h3{
  font-size: 2.3em;
  color: #696B6D;
}

.minimaal{
  margin-top: 25px;
}

.lijn-hoofd{
  height: 4px;
  width: 8%;
  background-color: #EC8732;
  border-radius: 20px;
  position: absolute;
  margin-left: 60px;
  margin-top: 5px;
  transform: translate(-50%, -50%) }
}

.secundairkleur{
  margin-left: 150px !important;
}

.middenlogo{
  margin-left: 60%;
}

.waarden{
  width: 50px;
}

.subheading {
  font-weight: 500;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.35rem;
}

.square {
  height: 50px;
  width: 50px;
  background-color: #555;
}

.list-social-icons a {
  color: #495057;
}

.list-social-icons a:hover {
  color: #BD5D38;
}

.list-social-icons a .fa-lg {
  font-size: 1rem;
}

.list-icons {
  font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
  color: #BD5D38;
}

.rtitel{
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}

.rlight{
  font-family: 'Maven Pro', sans-serif;
  font-weight: 300;
}

.rregular{
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
}

.rmedium{
  font-family: 'Maven Pro', sans-serif;
  font-weight: 700;
}

.ltitel{
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}

.llight{
  font-family: 'Maven Pro', sans-serif;
  font-weight: 300;
}

.lregular{
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
}

.lmedium{
  font-family: 'Maven Pro', sans-serif;
  font-weight: 700;
}

.tablelogo td{
  padding-right: 25px;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 400;
  font-size: 0.9rem;
  color: #565757;
}

.navbar-nav a{
  color: #1697A9;
  padding-top: 0rem !important;
}

.navbar-nav a:hover, a:active{
  color: #1697A9 !important;
}

.home{
  padding-left: 25%;
}

.home img{
  width: 70%;
  height: 70%;
  padding: 30px;
  margin-top: 10px;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    padding-bottom: 1rem;
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-position: right;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

section.resume-section .resume-item{
  width: 1000px;
  text-align: left;
}
section.resume-section .intro{
  width: 1000px;
  text-align: left;
  margin-left: 100px;
}

.resume-content2{
  margin-top: 20px;
}

.resume-content2 li{
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #FFFFFF !important;
  border-right: 1px solid #696B6D;
}

.text-primary {
  color: #BD5D38 !important;
}

a {
  color: #696B6D;
}

a:hover, a:focus, a:active {
  color: #1697A9 !important;
}
